* {
  box-sizing: border-box;
}

html {
  font-family: f-light, sans-serif;
  direction: rtl;
}

body {
  margin: 0;
}

.app {
  height: 100vh;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  padding-inline: 40px;
  gap: 30px;
}

.personal-details-container label,
.birthday-label {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-block-end: 20px;
  width: 30%;
}

.personal-details-container {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  gap: 10%;
}


.gender-birthday-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 30px;
}

.gender-container {
  display: flex;
  gap: 10%;
}

.gender-birthday-container label {
  width: 30%;
}

.buttons-container{
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
}

.buttons-container button{
  padding: 10px 40px;
}

button{
  cursor: pointer;
}

.submit-btn:disabled{
  cursor: not-allowed;
}

